:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}

* {
  box-sizing: border-box;
 
}

body {
  color: var(--dark-grayish-blue);
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  text-align: center;
}

header {
  background-image: url("/images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 130px 40px 16px 16px;
}

header p {
  width: 700px;
  text-align: center;
  margin:  0 auto;
}

h1 {

  font-size: 44px;
}

h2 {
  font-size: 34px;
}

h3 { 
  font-size: 24px;
  margin-bottom: 9px;
}  

img {
  max-width: 100%;
}

p {
  color: var(--grayish-blue);
  line-height: 1.3;
  margin: 0;
}
  




.container {
  margin: 0 auto;
  max-width: 100%;
}

.container-1 {
  width: 700px;
}

section {
  padding: 32px 16px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex > * {
  flex: 1;
  padding: 10px;
}

.split {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.split p {
  max-width: 400px;
  font-size: 16px;
  text-align: start;
  margin-bottom: 8px;
}

.btn {
  border-radius: 96px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 40px 8px;
  padding: 16px 32px;
}

.btn-ios {
  background-color: var(--strong-cyan);
  border-bottom: 4px solid hsl(171, 53%, 41%);
  box-shadow: 0px 8px 32px hsla(171, 53%, 41%, 0.3);
}

.btn-mac {
  background-color: var(--light-blue);
  box-shadow: 0 4px 0 hsl(233, 59%, 55%);
}

.btn-ios:active,
.btn-ios:hover,
.btn-mac:active,
.btn-mac:hover {
  opacity: 0.8;
}

.inner-flex img {
  transform: translateX(-9%);
}

footer {
  background-color: hsl(0, 0%, 93%);
  margin-top: 56px;
}

footer .container {
  margin-bottom: 0;
}

footer img {
  width: 60px;
}

footer ul a {
  color: var(--dark-grayish-blue);
  text-decoration: none;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

footer .links {
  flex: 3;
}

footer .links li {
  padding: 10px;
  margin-right: 40px;
}

footer .links li a:active,
footer .links li a:hover {
  color: var(--strong-cyan);
}

footer .social li {
  margin-right: 10px;
}

footer .social img {
  width: 20px;
}

@media screen and (max-width: 768px) {
  header p {
    width: auto;
  }
  .flex {
    flex-direction: column;
  }

  .btn {
    margin: 12px 0;
    
  }
  .inner-flex img {
    transform: none;
  }

  .split {
    align-items: center;
  }

  .split p {
    text-align: center;
  }

  footer .links {
    flex-direction: column;
  }

  footer .links li {
    padding: 10px;
    margin-right: 0;
  }
}
